<!DOCTYPE html>
<html lang="en">

<head>
    <title>Product</title>

    <!------------------------>
    <!-- Required meta tags -->
    <!------------------------>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!------------------------------------------>
    <!-- Bootstrap Library CSS JS CDN go here -->
    <!------------------------------------------>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>

    <!-------------------------------------------------------->
    <!--Libraries related CSS, JS, JQuery go here -->
    <!-------------------------------------------------------->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!-------------------------------------------->
    <!-- Other libraries and styles of your own -->
    <!-------------------------------------------->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../styles/skeleton.css">
    <link rel="stylesheet" href="../styles/productview.css">



</head>

<body class="container">
    <!------------------------------>
    <!-- Your HTML Layout go here -->
    <!------------------------------>

    <!-- our own navbar goes here -->
    <nav id="navbarPlaceholder"></nav>

    <!-- the body of your page goes here -->


    <main id="product">
        <a href="../results">
            <i class="material-icons md-48 nav_elements icons" style="float: left">arrow_back</i>
        </a>

        <div class="img_cont shadow-sm">
            <img src="<%= img %>">
        </div>

        <div class="description">

            <article class="description_text">
                <!-- Strange enough, this ejs function still works despite being commented out -->
                <!-- <%= capitalize = function capitalize(word) {return word.charAt(0).toUpperCase() + word.slice(1);} %> -->
                <h5>
                    <b id="name"><%= capitalize(name) %></b>
                </h5> 
                <p> 
                    <i class="material-icons md-48 nav_elements icons">attach_money</i>
                    <%= price %>
                </p>
                <p> 
                    <i class="material-icons md-36 nav_elements icons">store</i>
                    <span class="description_tags"><%= brand %></span>
                </p>
                <p> 
                    <!-- <i class="material-icons md-36 nav_elements icons">pin_drop</i> -->
                    <a class="links"href="https://maps.google.com/?q=<%= address %>"> 
                        <i class="material-icons md-36 nav_elements icons">pin_drop</i>

                    </a>
                    <%= address %>
                </p>
            </article>       

            <div class="actions">
                <button onclick="location.href='/update_item'" id="edit" type="button" class="addtolist" >
                    <i class="material-icons md-48 ">edit_note</i>
                </button>
                <button type="button" class="addtolist" onclick="addOrRemoveFromWatchlist()">
                    <!-- Add an onclick that adds this data set inside watchlist database -->
                    <i class="material-icons md-48" id="favourite-button" >favorite</i>
                </button>
                <!-- <div class="correction">
                    <input class="correction" type="text"></input>
                    <input type="submit"></input>
                </div> -->



            </div>

        </div>


        <article id="others">
            <b> Similar Products:</b>
            <!-- Location and Price -->
            <!-- Select * From items Where name = 'bananas'; -->

            <!-- For Ordering by Price -->
            <!-- Select * From items where name = 'bananas' order by price -->
        
            <!-- For Ordering by Nearest Location -->
            <!-- Select * From items where name = 'bananas' order by Location -->

            <!-- For only name, price and location -->
            <!-- select name, price, location from items where name='bananas' order by price; -->
            <!-- Drop down? -->
        </article>




    </main>


    <!-- our own footer goes here-->
    <nav id="footerPlaceholder"></nav>

    <!---------------------------------------------->
    <!-- Your own JavaScript functions go here    -->
    <!---------------------------------------------->
    <script>         
        var itemejsid = "<%= productid %>"
    </script>
    <script src="../scripts/skeleton.js"></script>
    <script src="../scripts/product.js"></script>


</body>

</html>